{% extends "layout.html" %}
{% block css %}
    <link href="static/buss/css/task.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block webinfo %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right m-t-15">
                    <a type="button" class="btn btn-tag dropdown-toggle waves-effect waves-light"
                       href="/downloadxls" style="color: white">下载
                    </a>
                    <a type="button" class="btn btn-danger dropdown-toggle waves-effect waves-light deleteall"
                       style="color: white">删除全部
                    </a>
                </div>
                <div style="margin-top: 15px;margin-bottom: 15px">
                    <span style="font-weight: bold;font-size: 20px;color:white">域名总数:{{ item.count() }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in item %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box project-box" style="min-height: 154px">
                        <h4 class="m-t-0 m-b-5" style="height: 25px;width:66%;white-space: nowrap">
                            <p style="color:white">{{ i['domain'] }}</p>
							<div style="position: absolute;right: 20px;top: 20px;color:#999999">
								{% for addr in i['ip'] %}
									{% if ':' not in addr['ip'] %}
										<p style="color:white">{{ addr['ip'] }}</p>
									{% endif %}
								{% endfor %}
							</div>
                        </h4>

                        <div style="line-height: 2">
							{% for web in i['web'] %}
								<p class="label label-type font-13">
									<a href="{{ web['link'] }}" target="_blank" title="{{ web['title'] }}" style="color:white">{{ web['link'] }}</a>
								</p>
								<p class="label label-type font-13">{{ web['title'][:15] }}</p>
								<p class="label label-type font-13">{{ web['status'] }}</p>
								<br>
							{% endfor %}
                        </div>
                    </div>
                </div><!-- end col-->
            {% endfor %}
        </div>
        {% if item.count()>60 %}
            <div class="row" style="position: absolute;top: 100%;left: 50%;margin: -80px 0 0 -212px;">
                <ul class="pagination pagination-split">
                    <li>
                        <a href="javascript:taskprePage()"><i class="fa fa-angle-left"></i>前一页</a>
                    </li>
                    {% if item.count() % 60 ==0 %}
                        {% for i in range(1,item.count()//60 + 1) %}
                            <li>
                                <a href="javascript:taskturnTo({{ i }})">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in range(1,(item.count()//60) + 2) %}
                            <li>
                                <a href="javascript:taskturnTo({{ i }})">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a href="javascript:tasknextPage()">后一页<i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script src="static/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="static/buss/js/task.js"></script>
{% endblock %}

